/* reset style */

a {
    color: inherit;
    text-decoration: none;
}

ul,ol {
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* end reset */

/*start style header */
.header {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 1.5rem;
    margin: 1.5rem;
}

.header__logo{
    max-width: 150px;
    width: 100%;
    filter: brightness(0) saturate(100%) invert(99%) sepia(61%) saturate(0%) hue-rotate(110deg) brightness(107%) contrast(100%);
}

.header__list-link{
    display: flex;
    column-gap: 40px;
    align-items: center;
}

.header__quick-actions{
    display: flex;
}


